# gradle
.gradle/
build/
out/
classes/
versions/*/build/
versions/*/.gradle/

# eclipse
*.launch

# idea
.idea/
*.iml
*.ipr
*.iws

# vscode
.settings/
.vscode/
bin/
.classpath
.project

# macos
*.DS_Store

# fabric
run/
.loom-cache/
remappedSrc/
.mixin.env

# java
hs_err_*.log
replay_*.log
*.hprof
*.jfr

# stonecutter
.stonecutter/

# runtime
config/
logs/
turnitdown.json
